{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'login/style.css' %}" />

</head>
<body>

<h1>Login</h1>
<center>
    {% if message %}
        {{ message }}
    {% endif %}
    <form method="POST" action="/login/" autocomplete="off">
        {% csrf_token %}
    <ul class="actions stacked">
        <li>
            <div class="col-6 col-12-xsmall">
                <input type="text" name="username" id="username" value="" placeholder="Nome do usuário" />
            </div>
        </li>
        <li>
            <div class="col-6 col-12-xsmall">
                <input type="password" name="password" id="password" placeholder="Senha" />
            </div>
        </li>
        <li>
            <button type="submit">Login</button>
        </li>
        <li>
            <a href="/register/">Cadastrar-se</a>
        </li>
    </ul>

    </form>
</center>
</body>
</html>
