{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'login/style.css' %}" />

</head>
<body>

<h1>Login</h1>
<center>
    <form method="POST" action="/register/" autocomplete="off">
        {% csrf_token %}
    <ul class="actions stacked">
        <li>
            <div class="col-6 col-12-xsmall">
                <input type="text" name="username" value="" placeholder="Nome do usuário" required autocomplete="off" style=""/>
            </div>
        </li>
        <li>
            <div class="col-6 col-12-xsmall">
                <input type="email" name="username" value="" placeholder="Email@gmail.com" required autocomplete="off"/>
            </div>
        </li>
        <li>
            <div class="col-6 col-12-xsmall">
                <input type="password" name="password" value="" placeholder="Senha" required autocomplete="off"/>
            </div>
        </li>
        <li>
            <button type="submit">Registrar-se</button>
        </li>
    </ul>
    </form>
</center>
</body>
</html>
